extends ../femto/lib-style/src/components/base
include ../femto/lib-style/src/components/blank

block body
    +blank(props)
        h1 Login
        p Want an account? #[a(href='/register') Register here.]    
        form(action="/login" method="post")
            label(for="username") Username
            input(type="text" name="username")
            br
            label(for="password") Password
            input(type="password" name="password")
            br
            input(type="submit" value="Login")

        hr(class='center-ball')

        a(href='/oauth/discord')
            row
                column
                    logo.discord
                        i.logo
                        p.label Login with Discord